In [78]:
import pandas as pd
import requests

In [79]:
data = pd.read_csv(f"api_test.csv")

data = data.sample(10)

test = data.iloc[:,:-1]
validation = data.iloc[:,-1:]

In [80]:
def make_prediction(row):
    
    r = requests.post("http://localhost:3000/predict", data=row)
    
    if r.status_code == 200:
        print(r.json())
    
    return r.json()

In [81]:
# make a single prediction
data_dict = test.to_dict(orient='records')

row = json.dumps(data_dict[1])

make_prediction(row)

{'prediction': -1}

{'prediction': -1}

In [83]:
import json

test_dict = test.to_dict(orient='records')
predictions = []

for row in test_dict:

    row_string = json.dumps(row)
    
    resp = make_prediction(row_string)
    
    predictions.append(resp['prediction'])

{'prediction': 4}
{'prediction': -1}
{'prediction': 0}
{'prediction': 2}
{'prediction': -1}
{'prediction': 2}
{'prediction': -1}
{'prediction': 0}
{'prediction': 4}
{'prediction': -1}

In [84]:
data['Prediction'] = predictions

In [85]:
data

,CC1,CC2,CC3,CC4,CC5,Page_talking_about,Post_share_count,Page_category,Base_time,Post_published_day_num,Base_DateTime_day_num,Target_variable,Prediction
246,239,68,171,218,-103,227617,571,9,36,6,1,11,4
424,0,0,0,0,0,2761,1,11,57,4,6,0,-1
445,3,3,0,3,3,10303,1,16,13,4,5,0,0
262,32,32,0,32,32,52663,137,9,14,4,5,2,2
451,6,3,3,6,0,11545,2,26,37,6,1,0,-1
762,26,26,0,26,26,87722,76,9,10,4,5,1,2
253,2,2,0,2,2,4297,1,4,19,5,5,0,-1
752,8,8,0,8,8,443107,11,9,12,4,5,0,0
749,13,13,0,13,13,53479,1,34,1,5,5,10,4
490,1,1,0,1,1,25193,2,22,14,4,5,1,-1

In [86]:
# save results
data.to_csv("Prediction_results.csv", sep=',', index=False)